.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.tree > .tree-nodes {
    margin-left: -40px;
}
.tree-nodes {
    display: block;
    position: relative;
    list-style: none
}
.CodeMirror {
    height: auto;
}
.sql-editor .CodeMirror-scroll {
    min-height: 100px;
}
.sql-editor .CodeMirror {
    border: 1px solid #ddd;
}
#fadeTableModel .CodeMirror {
    border: 1px solid #ddd;
}
